@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #04223d;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 1rem;
  color: #ffffff;
  height: 100vh;
  margin: 0;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitulo {
  color: #b3d9ff;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.form-cadastro label,
.form-cadastro input,
.form-cadastro select {
  display: block;
  margin-bottom: 6px; 
}

form {
  background-color: #054d74;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center; 
}

form h2 {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}


input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
button.botao-tamanho-fixo {
  width: 310px;
  padding: 10px;
  border: 1px solid #ffffff50;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 15px auto; 
}

input[type="submit"],
button.botao-tamanho-fixo {
  background-color: #031e3a;
  color: #ffffff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

input[type="submit"]:hover,
button.botao-tamanho-fixo:hover {
  background-color: #34577a;
}

.botao-tamanho-fixo {
  
  height: 40px;
  margin: 10px 0; 
}

.espacado {
  margin: 10px 0;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: #ffffff;
  color: #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #054d74;
  color: white;
}

tr:hover {
  background-color: #0e51ae;
}

@media (max-width: 480px) {
  form {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }
  
  input[type="text"],
  input[type="password"],
  select,
  button.botao-tamanho-fixo {
    width: 100%; 
  }
}
